<header class="my-5 py-4 text-center container">
    <h1 class="fw-light mb-3">Invest in company and grow your business, <br> <strong>for better results, for better people, <br> for better future.</strong></h1>
    <h1> 
    <p class="lead fs-6 mb-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut, eaque. </strong></p>
    <button class="btn btn-primary px-4 py-2 rounded-pill">Join the whitelist</button>
</header>