---
import Card from "./card.astro"
---
<main class="row row-cols-1 row-cols-md-3 row-cols-lg-3 gx-1 mb-3">
    <div class="col">
        <Card / title='Lago' description='Lorem ipsum dolor sit amet.' image='https://images.pexels.com/photos/5020093/pexels-photo-5020093.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1' alt='lago' />
    </div>
    <div class="col">
        <Card title='Pradera' description='Lorem ipsum dolor sit amet.' image='https://images.pexels.com/photos/3013440/pexels-photo-3013440.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1' alt='Pradera' />
    </div>
    <div class="col">
        <Card / title='Bisonte americano' description='Lorem ipsum dolor sit amet.' image='https://images.pexels.com/photos/6929336/pexels-photo-6929336.jpeg?auto=compress&cs=tinysrgb&w=600' alt='Bisonte americano' />
    </div>
</main>