<nav class="navbar navbar-expand-lg navbar-light">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active" href="index.html" arial-current="page" >Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
        </li>
    </ul>
    <a href="#" class="navbar-brand fw-semibold fs-4">GOODFOLIO</a>
    <div class="ms-auto">
        <button class="btn px-3 py-2 rounded-pill" type="button">Log in</button>
        <button class="btn btn-dark px-4 py-2 rounded-pill" type="button">Sign up</button>
    </div>
</nav>