<div class="container-fluid full-height-section">
    <div class="row justify-content-center">
        <div class="col-12">
            <slot />
        </div>
    </div>
</div>
<style>
    .full-height-section{
        height: 100vh;
    }
</style>